{% extends 'base.html' %}


{% block content %}


<body class="bg-body-tertiary b-example-divider">
  <form method="post" enctype="multipart/form-data">
    <div class="container py-5">
      <a href="{{ url_for('photo') }}">
        <div style="padding: 20px 0px 20px 0px">
          <i class="fa-solid fa-arrow-right fa-flip-horizontal fa-xl" style='color: #fafafa'"></i>
        </div>
      </a>
      <div class="px-3 py-2 bg-body rounded shadow-lg p-3 mb-5 bg-body rounded">
        <label for="id_img" class="form-label">Результат</label>
        <div>
            <div class="mb-4 d-flex justify-content-center">
                <img id="selectedImage" src="{{ url_for('static',filename=filename)}}"
                      alt="example placeholder" style="width: 1000px; border-radius: 15px;" />
            </div>
            <div class="d-flex justify-content-center">
                
            </div>
        </div>
      </div>
    </div>
  </form> 
</body>



{% endblock %}